ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {

    margin: 0;
    padding: 0;
    background-color: rgba(75,75,75,0.8);

}

.field {
    max-width: 96.5%;
    width: 100%;
    margin: 30px auto 0px auto;
    padding: 15px 0;
    border-radius: 20px;
    font-size: 20px;
    box-sizing: border-box;
    text-align: center;
    display: block;
}
.options-container {

    background-color: white;
    margin: 2px 1px;
    box-shadow: 1px 2px 3px;
    max-height: 150px;
    overflow: auto;

}

.options {

    padding: 5px 10px;

}

.options:hover {

    background-color: rgba(75,75,75,0.2);
    cursor: pointer;

}

.header {
    color: white;
    font-size: 32px;
    text-align: center;
}